<h1>Set {{model.name}}</h1>

<form {{action 'update' on='change'}}>
  <ul>
  {{#each model.settings as |setting|}}
    <li>
      {{#if (eq setting.control.type.name 'slider')}}
        {{control-slider setting=setting}}
      {{else if (eq setting.control.type.name 'switch')}}
        {{control-switch setting=setting}}
      {{else if (eq setting.control.type.name 'select')}}
        {{control-select setting=setting}}
      {{/if}}
    </li>
  {{/each}}
  </ul>
</form>

{{#link-to 'devices.show' model}}Back to device{{/link-to}}
