<h1>Set {{model.name}}</h1>

<form {{action 'update' on='submit'}}>
  <ul>
  {{#each model.settings as |setting|}}
    <li>
      <label for="{{setting.control.name}}">
        {{setting.control.name}}
      </label>
      {{input name=setting.control.name value=setting.value}}
    </li>
  {{/each}}
  </ul>
  <input type="submit" />
</form>

{{#link-to 'devices.show' model}}Back to device{{/link-to}}
