<h1>
  {{#link-to 'devices.index' class='device-list-back-link' title='back to devices'}}&mapstoleft;{{/link-to}}
  {{model.name}}
  {{#if model.updating }}
    <i class="spinner"></i>
  {{/if}}
</h1>

<ul class="device-details">
  <li>ip: {{model.ip}}</li>
  <li>type: {{model.type.name}}</li>
</ul>

<form {{action 'update' on='change'}}>
  <ul>
  {{#each model.settings as |setting|}}
    <li>
      {{#if (eq setting.control.type.name 'slider')}}
        {{control-slider setting=setting}}
      {{else if (eq setting.control.type.name 'switch')}}
        {{control-switch setting=setting}}
      {{else if (eq setting.control.type.name 'select')}}
        {{control-select setting=setting}}
      {{/if}}
    </li>
  {{/each}}
  </ul>
</form>
